@font-face {
  font-family: "Jura";
  src: url("fonts/Jura-VariableFont_wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("fonts/Orbitron-VariableFont_wght.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: black;
  --text: white;
  --h2color: linear-gradient(to bottom, rgba(130, 130, 130, 0.8) 60%, rgba(255, 255, 255, 1) 100%);
  --h3color: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
  --langWrap: rgba(255, 255, 255, 0.2);
  --langWrapHover: rgba(255, 255, 255, 0.5);
  --langStroke: white;
  --langWrapActive: rgba(0, 0, 0, 0.1);

  --theme_bg: rgb(134 141 166 / 20%);
  --theme_bg_label: white;

  --theme_bg_checked: #ebeff6;
  --theme_bg_checked_label: #04020f;

  --navClick: rgb(255 255 255 / 80%);

  --herobtn_one: rgba(255, 255, 255, 0.7);
  --herobtn_oneHover: rgb(255 255 255 / 100%);
  --herobtn_two: rgba(255, 255, 255, 0.1);
  --herobtn_twoHover: rgb(255 255 255 / 30%);

  --heroSvg: rgb(255 255 255 / 70%);
  --hroSvgHover: white;

  --skill_li_bg: rgb(255 255 255 / 10%);

  --formInput_bg: rgb(255 255 255 / 10%);
  --formInput_hover: rgb(255 255 255 / 20%);
  --formInput_plholder: rgb(255 255 255 / 70%);
  --input_text: rgb(255 255 255 / 70%);

  --contSend_btn_bg: rgb(0 0 0 / 20%);
  --contSend_btn_bg_hover: rgb(255 255 255 / 30%);

  --workBtn_stoke: #c9c9c9;
  --workImg_stoke: transparent;

  --burger_span: white;
  --burger_span_hover: rgb(255 255 255 / 50%);
  --burger_span_open: rgb(255 255 255 / 70%);
}

html.light {
  --bg: white;
  --text: black;
  --h3color: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
  --langWrap: rgba(0, 0, 0, 0.2);
  --langWrapHover: rgba(0, 0, 0, 0.5);
  --langStroke: #04020f;
  --langWrapActive: rgba(255, 255, 255, 0.1);

  --theme_bg: rgb(134 141 166 / 100%);
  --theme_bg_label: white;

  --theme_bg_checked: #ebeff6;
  --theme_bg_checked_label: #04020f;

  --navClick: rgb(0 0 0 / 80%);

  --herobtn_one: rgba(0, 0, 0, 0.7);
  --herobtn_oneHover: #04020f;
  --herobtn_two: rgba(0, 0, 0, 0.1);
  --herobtn_twoHover: rgb(0 0 0 / 30%);

  --heroSvg: rgb(0 0 0 / 70%);
  --hroSvgHover: #04020f;

  --skill_li_bg: rgb(0 0 0 / 10%);

  --formInput_bg: rgb(0 0 0 / 10%);
  --formInput_hover: rgb(0 0 0 / 20%);
  --formInput_plholder: rgb(0 0 0 / 50%);
  --input_text: #04020f;

  --contSend_btn_bg: rgb(0 0 0 / 30%);
  --contSend_btn_bg_hover: rgb(0 0 0 / 70%);

  --workBtn_stoke: #595959;
  --workImg_stoke: #595959;

  --burger_span: #04020f;
  --burger_span_hover: rgb(0 0 0 / 50%);
  --burger_span_open: rgb(0 0 0 / 70%);
}

html.theme-changing body *:not(.theme-control):not(.theme-control *),
html.theme-changing body *:not(.theme-control):not(.theme-control *)::before,
html.theme-changing body *:not(.theme-control):not(.theme-control *)::after {
  transition: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "Jura", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0012em;
  line-height: 1.4;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  all: unset;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  line-height: 1.4;
  font-style: normal;
  letter-spacing: 0.0012em;
  color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

/* HEADER START */
.h-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.language {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 92px;
  min-height: 36px;
  max-height: 36px;
  overflow: hidden;
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--langWrap);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.4),
    0 8px 20px rgba(0, 0, 0, 0.1);
  transition:
    padding 0.3s ease,
    border-radius 0.5s ease,
    max-height 0.5s ease,
    height 0.5s ease,
    background-color 0.3s ease,
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  color: var(--text);
}

.language:not(.open):not(.closing):hover {
  background-color: var(--langWrapHover);
}

.language.open {
  border-radius: 20px;
  height: auto;
  max-height: 152px;
  padding: 8px 12px 15px 12px;
  background-color: var(--langWrap);
  z-index: 1;
}

.language::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.language > .language-actual {
  display: flex;
  justify-content: center;
}

.language > .language-actual > span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.language > .language-actual > span:nth-of-type(2) > svg > path {
  fill: var(--text);
}

.language.open > .language-actual > span:nth-of-type(2) {
  transform: rotate(180deg);
}

.language > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--langStroke);
  border-radius: 80px;
}

.language > ul > li:hover {
  background-color: var(--langWrapHover);
}

.language > ul > li:active {
  background-color: var(--langWrapActive);
}

.language > .language-actual > span:nth-of-type(1) {
  width: 39px;
}

.language > .language-actual > span:nth-of-type(2) {
  width: 24px;
  height: 24px;
}

.nav-wrap {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 30px;
}

.burger-menu {
  display: none;
}

.theme-control {
  position: relative;
  width: 66px;
  height: 28px;
  border-radius: 18px;
  background-color: var(--theme_bg);
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 20%),
    inset 0 -1px 0 rgb(0 0 0 / 12%),
    0 0 0 1px rgb(255 255 255 / 18%);
  transition: background-color 0.3s ease;
}

.theme-control > label {
  position: absolute;
  width: 40px;
  height: 24px;
  background-color: var(--theme_bg_label);
  border-radius: 80px;
  right: 2px;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.theme-control > label > input {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: rgb(4, 2, 15, 1);
}

.nav-wrap > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.nav-wrap > nav > ul > li {
  display: flex;
}

.nav-wrap > nav > ul > li > a {
  position: relative;
  color: var(--text);
  font-size: 34px;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}

/* HEADER END */

/* MAIN START */
main {
  margin-top: -200px;
}

.m-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease;
}

.track-pages {
  display: flex;
  width: 200%;
  align-items: flex-start;
  transition: transform 0.5s ease;
}

.m-homepage,
.m-workspage {
  flex: 0 0 50%;
  width: 50%;
  align-self: flex-start;
}

.m-wrap.is-work .track-pages {
  transform: translateX(-50%);
}

/* HOME PAGE START */
.m-homepage {
  transform: translateY(89px);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero-title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.hero-title > h2 {
  position: relative;
  font-weight: 400;
  font-size: 150px;
  margin-top: -54px;
  margin-left: -8px;
  color: transparent;
  background-image: var(--h2color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.hero-title > h1 {
  font-size: 200px;
  font-weight: 500;
  margin-top: -127px;
  margin-left: -12px;
  color: var(--text);
}

.hero-title > h3 {
  z-index: -2;
  width: fit-content;
  margin-top: -68px;
  margin-right: 118px;
  margin-left: auto;
  font-weight: 400;
  font-size: 130px;
  color: transparent;
  background-image: var(--h3color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.hero-title > h4 {
  z-index: -1;
  width: fit-content;
  font-weight: 400;
  font-size: 120px;
  margin-top: -92px;
  margin-left: 381px;
  color: transparent;
  background-image: var(--h3color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.hero-cta {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero-name {
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
  margin-left: 30px;
  color: var(--text);
}

.hero-btns {
  display: flex;
  gap: 47px;
  height: 93px;
  margin-left: 255px;
}

.hero-btns > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  border-radius: 50px;
}

.hero-btns > a:nth-of-type(1) {
  position: relative;
  overflow: hidden;
  font-size: 32px;
  font-weight: 700;
  color: var(--bg);
  background-color: var(--herobtn_one);
  width: 395px;
  transition: background-color 0.3s ease;
}

.hero-btns > a:nth-of-type(2) {
  font-size: 30px;
  font-weight: 500;
  color: var(--text);
  width: 315px;
  border: 0.5px solid #c9c9c9;
  background-color: var(--herobtn_two);
  transition: background-color 0.3s ease;
}

.hero-socials {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  top: -293px;
  right: 0;
}

.hero-socials > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.aboutme {
  margin-top: 269px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-wrap > .bl-l {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
  max-width: 650px;
  width: 100%;
  color: var(--text);
}

.about-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
}

.about-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 126%;
}

.about-wrap > .bl-r {
  display: flex;
  max-width: 558px;
  width: 558px;
  height: 558px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/photo-lg.webp");
  border-radius: 50%;
  border: 1px solid #16a5a5;
}

.sk-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 281px;
  color: var(--text);
}

.sk-wrap > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 538px;
  width: 100%;
}

.sk-wrap > .bl-r {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 426px;
  width: 100%;
}

.skill-l-title,
.skill-r-title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 125%;
}

.bl-l > ul,
.bl-r > ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.bl-l > ul > li,
.bl-r > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 50px;
  border: 1px solid #c9c9c9;
  background: var(--skill_li_bg);
  font-size: 24px;
  font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 198px;
  margin-bottom: 353px;
  color: var(--text);
}

.contact-title {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
}

.cont-form-wrap {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  min-width: 272px;
  width: 100%;
}

.cont-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cont-form-wrap label {
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
}

.cont-form-wrap input {
  width: 100%;
  height: 56px;
  background-color: var(--formInput_bg);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  border-radius: 80px;
  padding: 0 24px;
  color: var(--input_text);
  transition: background-color 0.3s ease;
}

.cont-form-wrap input::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  color: var(--formInput_plholder);
}

.cont-form-wrap .bl-one {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cont-form-wrap .bl-one > div,
.cont-form-wrap .bl-two > .bl-inp-social {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.cont-form-wrap .bl-one > .bl-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cont-form-wrap .bl-one > .bl-social > .social-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  pointer-events: none;
}

.cont-form-wrap .bl-one > .bl-social > .socials-icons {
  display: flex;
  gap: 23px;
}

.cont-form-wrap .bl-one > .bl-social > .socials-icons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.cont-form > .cont-btn-send {
  align-self: center;
  width: 244px;
  height: 63px;
  margin-top: 16px;
  border: 1px solid #c9c9c9;
  border-radius: 80px;
  background-color: var(--contSend_btn_bg);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: white;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

/* HOME PAGE END */

/* WORK PAGE START */

/*
.m-workspage {
  display: none;
}
*/

.workspage-wrap {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 26px;
  color: var(--text);
}

.workspage-title {
  font-size: 72px;
  font-weight: 700;
}

.works-wrap {
  display: flex;
  flex-direction: column;
  gap: 170px;
  margin-bottom: 99px;
}

.works-wrap > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
}

.works-wrap > div:nth-child(2n) {
  flex-direction: row-reverse;
}

.works-wrap > div > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 650px;
  width: 650px;
}

.works-wrap > div > .bl-l .work-title-wrap {
  text-align: center;
}

.works-wrap > div > .bl-l .work-title {
  font-size: 32px;
}

.works-wrap > div > .bl-l .work-img {
  width: 100%;
  height: 455px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 1px solid var(--workImg_stoke);
}

.works-wrap > .bl-work-1 > .bl-l .work-img {
  background-image: url("img/work-img-1.webp");
}

.works-wrap > .bl-work-2 > .bl-l .work-img {
  background-image: url("img/work-img-2.webp");
}

.works-wrap > .bl-work-3 > .bl-l .work-img {
  background-image: url("img/work-img-3.webp");
}

.works-wrap > .bl-work-4 > .bl-l .work-img {
  background-image: url("img/work-img-4.webp");
}

.works-wrap > .bl-work-5 > .bl-l .work-img {
  background-image: url("img/work-img-5.webp");
}

.works-wrap > .bl-work-6 > .bl-l .work-img {
  background-image: url("img/work-img-6.webp");
}

.works-wrap > .bl-work-7 > .bl-l .work-img {
  background-image: url("img/work-img-7.webp");
}

.works-wrap > .bl-work-8 > .bl-l .work-img {
  background-image: url("img/work-img-8.webp");
}

.works-wrap > div > .bl-r {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 556px;
  min-width: 250px;
  width: 556px;
}

.bl-text-wrap {
  display: flex;
  flex-direction: column;
  max-height: 455px;
  overflow: hidden;
  transition: max-height 0.2s ease;
  font-size: 20px;
  padding-top: 30px;
}

.bl-text-wrap > div {
  display: flex;
  flex-direction: column;
}

.work-text-three {
  position: relative;
}

.work-text-three > .list-wreapepr > ul {
  padding-left: 30px;
}

.work-text-three > .list-wreapepr > ul > li {
  position: relative;
}

.work-text-three > .list-wreapepr > ul > li::before {
  position: absolute;
  content: "";
  left: -16px;
  top: 50%;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}

.work-control-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

.work-control-wrap > .text-more {
  align-self: flex-end;
  font-size: 24px;
  border-bottom: 1px solid var(--text);
  cursor: pointer;
}

.work-control-wrap > .open-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 64px;
  border: 0.5px solid var(--workBtn_stoke);
  border-radius: 50px;
  font-size: 24px;
  background-color: var(--herobtn_two);
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* WORK PAGE END */
/* MAIN END */

/* HOVER EFFECTS START */

.theme-control:has(#inpTheme:checked) {
  background-color: var(--theme_bg_checked);
}

.theme-control:has(#inpTheme:checked) label {
  background-color: var(--theme_bg_checked_label);
  transform: translate(-22px, -50%);
  color: #fff;
}

.nav-wrap > nav > ul > li > a.view {
  color: var(--navClick);
}

.nav-wrap > nav > ul > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 30px;
  height: 2px;
  background-color: var(--text);
  opacity: 0;

  transition: opacity 0.8s ease;

  animation: pingpong 0.8s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.nav-wrap > nav > ul > li > a:hover::before,
.nav-wrap > nav > ul > li > a.view::before {
  opacity: 1;
  animation-play-state: running;
}

.nav-wrap > nav > ul > li > a.view::before {
  background-color: var(--navClick);
}

@keyframes pingpong {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 30px);
  }
}

.hero-btns > a:nth-of-type(1):hover {
  background-color: var(--herobtn_oneHover);
}

.hero-btns > a:nth-of-type(2):hover {
  background-color: var(--herobtn_twoHover);
}

.cont-form-wrap input:hover,
.cont-form-wrap input:focus {
  background-color: var(--formInput_hover);
}

.cont-form > .cont-btn-send:hover {
  background-color: var(--contSend_btn_bg_hover);
}

.hero-socials > div > svg > path,
.cont-form-wrap .bl-one > .bl-social > .socials-icons > div > svg > path {
  fill: var(--heroSvg);
  transition: fill 0.3s ease;
}

.hero-socials > div:hover,
.cont-form-wrap .bl-one > .bl-social > .socials-icons > div:hover {
  transform: scale(1.1);
}

.hero-socials > div:hover > svg > path,
.cont-form-wrap .bl-one > .bl-social > .socials-icons > div:hover > svg > path {
  fill: var(--hroSvgHover);
}

.hero-socials > div.is-pick,
.cont-form-wrap .bl-one > .bl-social > .socials-icons > div.is-pick {
  transform: scale(1.1);
}

.hero-socials > div.is-pick > svg > path,
.cont-form-wrap .bl-one > .bl-social > .socials-icons > div.is-pick > svg > path {
  fill: var(--hroSvgHover);
}

.cont-form > .bl-two {
  overflow: hidden;
  pointer-events: none;
  width: 100%; /* Ширина сразу 100% */
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.cont-form > .bl-two.is-pick {
  pointer-events: unset;
  opacity: 1;
  transform: scaleX(1);
  overflow: visible;
}

.cont-form > .cont-btn-send {
  transform: translateY(-112px);
}

.cont-form > .cont-btn-send.show {
  transform: translateY(0);
}

.work-control-wrap > .open-work:hover {
  background-color: var(--herobtn_twoHover);
}

/* HOVER EFFECTS END */

/* DECOR ELEMENTS START */

/* ELEMENT ONE */

.decor-element-one {
  position: absolute;
  pointer-events: none;
  width: 1700px;
  aspect-ratio: 1 / 1;
  top: -652px;
  right: -668px;
}

.decor-element-one > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-violet-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.decor-element-one > .ui-cube {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  width: 700px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + -99px), calc(-50% + -226px)) rotate(-88deg);
  --fill-op: 0.3;
  --stroke-op: 0.3;
}

/* ELEMENT TWO */

.decor-element-two {
  position: absolute;
  pointer-events: none;
  width: 1460px;
  aspect-ratio: 1 / 1;
  top: 800px;
  left: -680px;
}

.decor-element-two > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-green-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ELEMENT THREE */

.decor-element-three {
  position: absolute;
  pointer-events: none;
  width: 1170px;
  aspect-ratio: 1 / 1;
  top: 1550px;
  left: -570px;
  opacity: 0.6;
}

.decor-element-three > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-blue-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.decor-element-three > .ui-cube {
  display: none;
}

/* ELEMENT FOUR */

.decor-element-four {
  position: absolute;
  pointer-events: none;
  width: 1900px;
  aspect-ratio: 1 / 1;
  right: -948px;
  bottom: -800px;
}

.decor-element-four > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-blue-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.decor-element-four > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 400px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 225px), calc(-50% - 106px)) rotate(-47deg);
  --fill-op: 0.4;
  --stroke-op: 0.8;
}

/* ELEMENT FIVE */

.decor-element-five {
  position: absolute;
  pointer-events: none;
  width: 700px;
  aspect-ratio: 1 / 1;
  top: 211px;
  left: 34px;
}

.decor-element-five > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-17.31deg);
  --fill-op: 0.2;
  --stroke-op: 0.4;
}

/* ELEMENT SIX */

.decor-element-six {
  position: absolute;
  pointer-events: none;
  width: 400px;
  aspect-ratio: 1 / 1;
  top: 1680px;
  right: -115px;
}

.decor-element-six > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(50.27deg);
  --fill-op: 0.5;
  --stroke-op: 0.8;
}

/* ELEMENT SEVEN */

.decor-element-seven {
  position: absolute;
  pointer-events: none;
  width: 600px;
  aspect-ratio: 1 / 1;
  left: -140px;
  bottom: 110px;
}

.decor-element-seven > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-17.31deg);
  --fill-op: 0.7;
  --stroke-op: 0.9;
}

/* ELEMENT EIGHT */

.decor-element-eight {
  position: absolute;
  pointer-events: none;
  width: 200px;
  aspect-ratio: 1 / 1;
  right: 221px;
  bottom: 831px;
}

.decor-element-eight > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(14.87deg);
  --fill-op: 0.2;
  --stroke-op: 0.9;
}

/* WORK PAGE */

/* ELEMENT TWO WORK */

.decor-element-two.is-work {
  top: 1140px;
}

/* ELEMENT THREE WORK */

.decor-element-three.is-work {
  width: 1230px;
  top: 1900px;
  left: -590px;
}

.decor-element-three.is-work > .ui-cube {
  display: block;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 200px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - -76px), calc(-50% - 176px)) rotate(-26.06deg);
  --fill-op: 1;
  --stroke-op: 1;
}

/* ELEMENT FOUR WORK */

.decor-element-four.is-work {
  width: 1900px;
  right: -998px;
  bottom: -950px;
}

.decor-element-four.is-work > .texture {
  background-image: url(img/gradient-green-lg.webp);
}

.decor-element-four > .ui-cube {
  z-index: 0;
  width: 700px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 530px), calc(-50% - 320px)) rotate(-99.52deg);
  --fill-op: 0.2;
  --stroke-op: 0.7;
}

/* ELEMENT FIVE WORK */

.decor-element-five.is-work {
  z-index: 0;

  width: 300px;
  top: 641px;
  left: -146px;
}

.decor-element-five.is-work > .ui-cube {
  transform: translate(-50%, -50%) rotate(13.97deg);
  --fill-op: 0.4;
  --stroke-op: 1;
}

/* ELEMENT SIX WORK */

.decor-element-six.is-work {
  z-index: 0;
  width: 500px;
  top: 1228px;
  right: -55px;
}

.decor-element-six.is-work > .ui-cube {
  transform: translate(-50%, -50%) rotate(-13.46deg);
  --fill-op: 0.6;
  --stroke-op: 1;
}

/* ELEMENT SEVEN WORK*/

.decor-element-seven {
  z-index: 0;
  width: 300px;
  left: unset;
  right: -68px;
  bottom: 1540px;
}

.decor-element-seven > .ui-cube {
  transform: translate(-50%, -50%) rotate(-19.8deg);
  --fill-op: 0.8;
  --stroke-op: 0.9;
}

/* ELEMENT EIGHT WORK */

.decor-element-eight.is-work {
  width: 200px;
  right: unset;
  left: -88px;
  bottom: 2753px;
}

.decor-element-eight.is-work > .ui-cube {
  transform: translate(-50%, -50%) rotate(9.57deg);
  --fill-op: 0.2;
  --stroke-op: 1;
}

/* ELEMENT NINE WORK */

.decor-element-nine.is-work {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 1950px;
  aspect-ratio: 1 / 1;
  top: 2200px;
  right: -960px;
}

.decor-element-nine.is-work > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-violet-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.decor-element-nine.is-work > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 300px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 93px), calc(-50% - 50px)) rotate(43.18deg);
  --fill-op: 0.8;
  --stroke-op: 1;
}

/* ELEMENT TEN WORK */

.decor-element-ten.is-work {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 1160px;
  aspect-ratio: 1 / 1;
  left: -570px;
  bottom: 940px;
}

.decor-element-ten.is-work > .texture {
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-image: url(img/gradient-blue-lg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.decor-element-ten.is-work > .ui-cube {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 200px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - -10px), calc(-50% - -23px)) rotate(18.52deg);
  --fill-op: 0.6;
  --stroke-op: 1;
}
